services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: create_pro_docker
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    image: anushreej537/fastapi-app:latest
    ports:
      - "8000:8000"
    environment:
      # Note the 'db' hostname matches the service name above
      - DATABASE_URL=postgresql://postgres:root@db:5432/create_pro_docker
    depends_on:
      db:
        condition: service_healthy